extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of incident' name='title' required='true' value=(undefined===incident ? '' : incident.title) )
    div.form-group
      label(for='person') Person:
      select#person.form-control(type='select', placeholder='Select person' name='person' required='true' )
        for person in persons
          if incident
            option(value=person._id selected=(person._id.toString()===incident.person._id.toString() ? 'selected' : false) ) #{person.name}
          else
            option(value=person._id) #{person.name}
    div.form-group
      label(for='summary') Summary:
      textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true') #{undefined===incident ? '' : incident.summary}
    div.form-group
      label Vehicle:
      div
        for vehicle in vehicles
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='vehicle', id=vehicle._id, value=vehicle._id, checked=vehicle.checked )
            label(for=vehicle._id) #{vehicle.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg