extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='ir') Incident Report Number:
      input#title.form-control(type='text', placeholder='I.R. #' name='ir' required='true' value=(undefined===incident ? '' : incident.ir) )
    div.form-group
      label(for='person') Person (Optional):
      select#person.form-control(type='select', placeholder='Select person' name='person' required='true' )
        for person in persons
          if incident
            option(value=person._id selected=(person._id.toString()===incident.person._id.toString() ? 'selected' : false) ) #{person.name}
          else
            option(value=person._id) #{person.name}
    div.form-group
      label(for='narrative') Narrative:
      textarea#narrative.form-control(type='textarea', placeholder='Narrative' name='narrative' required='true') #{undefined===incident ? '' : incident.narrative}
      //- div.form-group
      //- div.form-group(style='display: inline; padding-right:20px;')
      //- label(for='hazard') Hazard:
      //- input.checkbox-input(type='checkbox', name='hazard')
      
    div.form-group
      label Vehicle:
      div
        for vehicle in vehicles
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='vehicle', id=vehicle._id, value=vehicle._id, checked=vehicle.checked )
            label(for=vehicle._id) #{vehicle.name}

    div.form-group
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg