extends layout

block content

    h1 Person: #{person.name}

    div(style='margin-left:20px;margin-top:20px')

    p #[strong Date of Birth:] #{person.lifespan}
    p #[strong Alias:] #{person.aliases}
    p #[strong Code:] #{person.code}
    p #[strong Social Security Number:] #{person.social_security_number}
    p #[strong Race:] #{person.race}
    p #[strong Sex:] #{person.sex}
    p #[strong Height:] #{person.height}
    p #[strong Weight:] #{person.weight}
    p #[strong Eyes:] #{person.eyes}
    p #[strong Hair:] #{person.hair}
    p #[strong Scars, Marks, Tattoos:] #{person.scars_marks_tattoos}
    p #[strong Address:] #{person.address}
    p #[strong Phone Number:] #{person.phone_number}
    p #[strong Gang Affiliation:] #{person.gang_affiliation}
    p #[strong Hazard:] #{person.hazard}


    
    dl
    each incident in person_incidents
      dt 
        a(href=incident.url) #{incident.title}
      dd #{incident.summary}

    else
      p This Person has no Incidents.
      
    hr


    p
        a(href=person.url+'/update') Update person